/*
* Global setting and mixin
*/
.clear {
  clear: both;
}
.btn-default {
  color: #fff;
  margin-top: 10px;
  background-color: #3ba3fd;
  font-size: 16px;
}
.content {
  clear: both;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 5px;
}
.divider {
  border-bottom: #ddd 1px dashed;
  width: inherit;
  height: 15px;
  margin-left: -25px;
}
/**
* Global styles
*/
* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-family: FontAwesome, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
body {
  background: #f3f3f3;
}
a {
  text-decoration: none;
}
/* header */
.header {
  padding-top: 5px;
  background: #f3f3f3;
}
.header .logo {
  margin: 0px;
  padding: 0;
}
.header .logo img {
  height: 80px;
}
.header .user {
  margin-right: 20px;
}
.header .user i {
  height: 80px;
  line-height: 80px;
  padding-right: 5px;
}
/* navbar */
.topmenu {
  background: #3ba3fd;
}
.menu li {
  margin: 0px;
  padding: 0px;
  position: relative;
  background: #3ba3fd;
}
.menu li a:hover,
.menu li a:focus,
.menu .active,
.menu .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #0189C3;
}
.menu li a {
  margin: 0px;
  padding: 10px;
  min-width: 120px;
  font-size: 14px;
  line-height: 37px;
  border-radius: 0;
  color: #FFFFFF;
  text-align: center;
}
.dropdown-menu {
  padding: 0;
}
/* banner */
.banner {
  text-align: center;
  height: 130px;
}
.banner img {
  height: 130px;
  width: 100%;
}
/* login-dialog */
#login-dialog {
  display: none;
  width: 320px;
  height: 300px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -160px;
  z-index: 100;
}
#login-dialog .login-title {
  height: 60px;
  line-height: 60px;
  padding-left: 25px;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  font-size: 19px;
}
.login-form {
  padding: 30px;
}
.login-form input {
  width: 260px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 40px;
  position: relative;
}
/*.login-form #userName{
	background: url(/r/cms/www/zygw/img/usernameback.png) no-repeat 10px center;
}

.login-form #userPsw{
	background: url(/r/cms/www/zygw/img/usernameback.png) no-repeat 10px center;
}*/
.login-form .wrongtip {
  color: #ff6767;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
}
.login-form .login-btn {
  color: #fff;
  margin-top: 10px;
  background-color: #3ba3fd;
  font-size: 16px;
  width: 260px;
  height: 40px;
}
.login-form .login-btn:hover {
  background-color: #2e8ddf;
}
#mask {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.7;
}
/*
* register-dialog
*/
#register-dialog {
  display: none;
  width: 600px;
  height: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -300px;
  z-index: 100;
}
/* content */
.left-part,
.right-part {
  padding: 10px;
  background: #fff;
}
.list-group {
  padding-left: 0;
  margin-bottom: 20px;
}
.list-group i {
  margin-right: 5px;
}
.fixed-left {
  top: 150px;
}
/* about content */
.content-item {
  padding: 5px;
}
.content-item .title {
  font-size: 20px;
  border-bottom: #3ba3fd 2px solid;
}
.content-item .main {
  margin: 10px auto;
}
.content-item .main p {
  line-height: 27px;
  text-indent: 18.0pt;
}
/* department-content */
.content-nav {
  height: 46px;
  margin-top: 15px;
  font-size: 15px;
}
.content-nav .left-nav {
  float: left;
}
.content-nav .left-nav .breadcrumb {
  margin: 0;
}
.content-nav .right-search {
  float: right;
}
.content-nav .right-search .inputsize {
  color: #666666;
}
.content-nav .right-search .input {
  width: 135px;
  height: 25px;
}
.content-nav .right-search .button {
  color: #fff;
  margin-top: 10px;
  background-color: #3ba3fd;
  font-size: 16px;
  width: 60px;
  height: 25px;
}
.department-content {
  clear: both;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 5px;
  border: #ddd solid 1px;
}
.department-content .title {
  margin-left: 10px;
  height: 52px;
  line-height: 50px;
}
.department-content .main {
  overflow: hidden;
}
.department-content .main .dep-item {
  float: left;
  display: inline-block;
  height: 40px;
  border: #ccc solid 2px;
  font-size: 14px;
  font-weight: 200;
  margin-left: 15px;
  margin-top: 15px;
  text-align: center;
  line-height: 40px;
}
.department-content .main .dep-item a {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  white-space: nowrap;
}
.department-content .main .dep-item:hover {
  border: #0189C3 solid 2px;
  background-color: #3ba3fd;
}
.department-content .main a:hover {
  color: white;
  text-decoration: none;
}
.department-detail-content {
  clear: both;
  background-color: white;
  margin-bottom: 15px;
  margin-top: 5px;
  border: #bed8e4 solid 1px;
}
.department-detail-content .department-info {
  margin: 0px 25px;
  line-height: 27px;
}
.department-detail-content .department-info .title {
  font-weight: bold;
  color: #3ba3fd;
  margin-top: 15px;
  margin-bottom: 10px;
}
.department-detail-content .department-info span {
  color: #888;
}
.department-detail-content .department-info .main {
  margin: 10px auto;
}
.department-detail-content .department-info .main p {
  line-height: 27px;
  text-indent: 18.0pt;
}
.expert-main {
  background-color: #f9f9f9;
  overflow: hidden;
  border: #e5eaec solid 1px;
  width: inherit;
  padding-left: 15px;
  padding-top: 10px;
}
.expert-main .expert-item {
  height: 25px;
  float: left;
  color: #3ba3fd;
  line-height: 25px;
  margin-right: 16px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-indent: 8px;
}
.expert-main .expert-item img {
  position: relative;
  top: 1px;
  right: 2px;
}
/* expert-content */
.imgdiv,
.infodiv,
.detail_btn {
  height: 145px;
  float: left;
  background-color: white;
}
.imgdiv {
  width: 12%;
}
.imgdiv img {
  width: 88px;
  height: 124px;
  border: #ddd 1px solid;
  margin: 15px 0px 0px 15px;
}
.infodiv {
  width: 35%;
  padding: 15px 0px 0px 0px;
}
.infodiv .title {
  font-weight: bold;
  font-size: 15px;
  color: #3ba3fd;
}
.infodiv .info-item {
  margin: 10px 0px 0px 0px;
}
.infodiv .info-item span {
  color: #888;
}
.detail_btn {
  width: 18%;
  padding-top: 70px;
}
.detail_btn a {
  width: 40px;
  height: 20px;
  color: #888;
}

/*# sourceMappingURL=default.css.map */
